Repository qbikez/pi-chef: changes, and which Azure pipelines are due for each by the changed paths.
All: .azurepipelines/chef-docker.yaml, .azurepipelines/chef.yaml, .azurepipelines/inspec.yaml

.azurepipelines/chef-docker.yaml:
  pool: pi
  stages:
  - stage: chef
    jobs:
    - job: null
      steps:
      - template: lib/chef-recipe-task.yaml
        parameters:
          recipe: ${{parameters.recipe}}

.azurepipelines/chef.yaml:
  pool: pi
  stages:
  - stage: chef
    jobs:
    - job: null
      steps:
      - ${{each recipe in parameters.recipes}}:
        - template: lib/chef-recipe-task.yaml
          parameters:
            recipe: ${{recipe}}
            continueOnError: false

.azurepipelines/inspec.yaml:
  schedules:
  - cron: 0 8,16 * * *
    displayName: Daily build
    branches:
      include:
      - main
  pool: pi
  stages:
  - stage: inspec
    jobs:
    - job: null
      steps:
      - script: '# prepare env variables
  
          eval "$(rbenv init -)"
  
          rbenv sudo inspec exec inspec/pi_spec.rb'

vsts: disable sensitivity?
  cookbooks/vsts_agent/resources/default.rb
Due: none

sensitive
  cookbooks/vsts_agent/resources/default.rb
Due: none

you're so sensitive, ruby!
  cookbooks/vsts_agent/resources/default.rb
Due: none

argh
  cookbooks/vsts_agent/resources/default.rb
Due: none

blajh!
  cookbooks/vsts_agent/resources/default.rb
Due: none

proxy_url
  cookbooks/vsts_agent/resources/default.rb
Due: none

update recipes
  cookbooks/pi_home/attributes/default.rb
  cookbooks/pi_home/recipes/docker.rb
Due: .azurepipelines/chef-docker.yaml, .azurepipelines/chef.yaml

update tailscale repo
  InstallChef.md
  README.md
  cookbooks/pi_home/recipes/net_tailscale.rb
Due: .azurepipelines/chef.yaml

tailscale repo again
  cookbooks/pi_home/recipes/net_tailscale.rb
Due: .azurepipelines/chef.yaml

add info on tmux and licensec
  InstallChef.md
Due: none

readme
  README.md
Due: none

Path conditions:
  .azurepipelines/chef-docker.yaml: any of: cookbooks/pi_home/recipes/docker.rb, .azurepipelines/chef-docker.yaml
  .azurepipelines/chef.yaml: any of: cookbooks/pi_home/recipes, .azurepipelines/chef.yaml
  .azurepipelines/inspec.yaml: any of: .azurepipelines/inspec.yaml, inspec
